 /* GLOBAL */


body {
	font-family: 'Arial Narrow', Arial, sans-serif;
	line-height: 32px;
	margin: 30px;
}

/* HOME PAGE */
nav {
	font-family: 'Open Sans Condensed', sans-serif;
}

/* NAV */

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
}

nav a:focus {
  border: 2px white;
}

nav a:hover,
nav a:active {
  color: white;
}


/* ----------BIO PAGE---------- */

img {
	max-height:100%;
	max-width: 100%;
	float: right;
	margin-left: 15px;
	margin-top: 0px;
}


.bio body {
    background-image: url("backgroundphoto.jpg");
}

.menubar {
	text-align: center;
	padding: 10px;
	background: #6D6A6A;
	height: 30px;
	margin: 20px;
}


.bio header {
	padding: 10px;
	background: #FF9999;
	height: 160px;
}

	/* QUOTE */
.bio blockquote {
    font-family: Impact;
	line-height: 5px;
	color: white;
  	font-size: 165%;
	letter-spacing: 0.5px;
	text-align: left;
	margin-top: -1em;
}

.bio h1 {
	font-family: Impact;
	line-height: 90px;
	color: white;
  	font-size:800%;
  	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: -5px;
	margin-left: -18px;
}

.bio h2,
.bio h3, 
.bio h4 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: left;
	color: #FF9999;
}

.bio h3,
.bio h4 {
	font-family: 'Arial Narrow', Arial, sans-serif;
}

.bio section {
	margin-right: 25px;
	margin-left: 25px;
	float: left;
	width: 35%;
	color: #6D6A6A;
}

.resume section {
	width: 90%;
}

/* STYLE TILE */
section {
	margin: 20px 0;
}
 
.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
 
/* Set Your Own Typography */
 
 
/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}
 
/* Clearfix - Oo Not Remove */


























