

.home body {
	margin: 0;
}

.home h3 {
  display: block;
  float: left;
  margin-top: -20px;
  font-size: 72px;
  font-family: 'open sans condensed';
  position: fixed;
  color: #FA8072;
  
}

.home p {
	text-align: center;
	font-family: sans-serif;
	font-size: 21px;
  	line-height: 1.5;
  	font-family: 'open sans';
  	margin: 50px;
  	color: #182E6F;

}

.beach {
	height: 400px;
	background: url("../img/flowermeadow.jpg") no-repeat center top fixed; 
  background-size: cover;
}

.beach:first-child {
	margin-top: 0;
}

nav {
  text-align: center;
  padding-top: 40px;
  font-size: 36px;

}

.home a:link {
  color: #FA8072;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s ease-in;
}

.home a:visited {
  color: #182E6F;
}

.home a:focus {
  border: 2px #FA8072;
}

.home a:hover,
.home a:active {
  color: #FA8072;

}


.home body {
  background: #f1f1f1;
  color: #222;
  font-family: 'Open Sans';
}

.wrapper {
  padding: 100px;
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}
.roles div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
    font-family: 'open sans';
}

.fancy {
  text-shadow: 2px 2px 0 #FA8072;
}




/* ----------BIO PAGE---------- */











.bio img {
	max-height:100%;
	max-width: 100%;
	float: right;
	margin-left: 15px;
	margin-top: 0px;
}


.bio body {
    background-image: url("backgroundphoto.jpg");
}

.menubar {
	text-align: center;
	padding: 10px;
	background: #6D6A6A;
	height: 30px;
	margin: 20px;
}


.bio header {
	padding: 10px;
	background: #FF9999;
	height: 160px;
}

	/* QUOTE */
.bio blockquote {
    font-family: Impact;
	line-height: 5px;
	color: white;
  	font-size: 165%;
	letter-spacing: 0.5px;
	text-align: left;
	margin-top: -1em;
}

.bio h1 {
	font-family: Impact;
	line-height: 90px;
	color: white;
  	font-size:800%;
  	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: -5px;
	margin-left: -18px;
}

.bio h2,
.bio h3, 
.bio h4 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: left;
	color: #FF9999;
}

.bio h3,
.bio h4 {
	font-family: 'Arial Narrow', Arial, sans-serif;
}

.bio section {
	margin-right: 25px;
	margin-left: 25px;
	float: left;
	width: 35%;
	color: #6D6A6A;
}

.resume section {
	width: 90%;
}

.bio nav {
	font-size: 150%;
	text-align: center;
	padding: 15px;
  	color: #FA8072;
  	width: 100%;
  	padding-top: -10px;
  }

  .bio a:link {
  color: #FA8072;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s ease-in;
}

.bio a:visited {
  color: #182E6F;
}

.bio a:focus {
  border: 2px #FA8072;
}

.bio a:hover,
.bio a:active {
  color: white;






/* -----------STYLE TILE------------*/



.style-tile p {
	color: #182e6f;
}



/* LOGO IMAGE */
.style-tile .container img {
	width: 545px;
	float: left;
	margin-bottom: 60px;
	margin-right: 50px;
	margin-top: 100px;
}

/* EVERYTHING IN WHITE CONTAINER */
.style-tile .container {
	background-color: #E9E9E9;
	border-radius: 50px;
	margin: 75px;
	padding: 50px;
	min-width: 1200px;

}

/* background image */
body.style-tile {
	background-image: url("../img/bgstyletile.png");
	background-size: cover;
}


/* HEADER 1 */
.style-tile .header h1 {
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 5.625em; /* 45 / 16 = 2.8125em */ 
	font-style: normal;
	font-variant: normal; 
	margin-bottom: 5px;
	color: #FA8072;
	
}

/* Primary Header */
.style-tile h2 {
	font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 3em; /* 48 / 16 = 3em */
	font-style: normal;
	font-variant: normal;
	margin-bottom: 10px;
	color: #182e6f;
	margin-left: -2.5px;
	margin-top: -10px;
}

/* Secondary Header */
.style-tile h3 {
	font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 2em; /* 32 / 16 = 2em */
	font-style: normal;
	font-variant: normal;
	margin-bottom: 15px;
	color: #182e6f;
	margin-left: -2.5px;
	margin-top: -10px;
}



/* NAV BAR MIDDLE OF PAGE */
.style-tile nav {
	font-size: 150%;
	text-align: center;
	padding: 15px;
	border-top: 2px dotted #FA8072;
  	color: #FA8072;
  	height: 1px;
  	width: 100%;
  	margin-bottom: 50px;


}

/* NAV BAR */

.style-tile a:link {
  color: #FA8072;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s ease-in;
}

.style-tile a:visited {
  color: #182E6F;
}

.style-tile a:focus {
  border: 2px #FA8072;
}

.style-tile a:hover,
.style-tile a:active {
  color: white;

}

/* override margins in top fonts */
#top p {
	margin-top: -10px;
}


.container img {
	max-width: 100%;
}

.container section {
	margin: 20px 0;
}
#top {
	display: block;
}

#top p {
	margin-top: -20px;
}


/* COLOR PALETTE IMAGES */
.style-tile .color-1 {
	background-color: #E9E9E9;
}

.style-tile .color-2 {
	background-color: #FA8072;
}


.style-tile .color-3 {
	background-color: #182e6f;
}

.style-tile .pattern-1 {
	background-image: url("../img/pattern-1.png");
}

.style-tile .pattern-2 {
	background-image: url("../img/pattern-2.png");
}

.style-tile .pattern-3 {
	background-image: url("../img/pattern-3.png");
}	

.style-tile .color-1,
.style-tile .color-2,
.style-tile .color-3,
.style-tile .pattern-1,
.style-tile .pattern-2,
.style-tile .pattern-3, 
.style-tile .imagery-1,
.style-tile .imagery-2,
.style-tile .imagery-3 {
	border: 2px dotted #FA8072;
	float: right;
	margin: 20px 50px;
	height: 150px;
	width: 150px;
}

.style-tile .pattern-1,
.style-tile .pattern-2,
.style-tile .pattern-3 {
	float: right;
}


/* Set Your Own Typography */


 
/* Set Your Own Margin & Padding */

.style-tile .top em {
	margin-top: 0px;
}
 
/* Clearfix - Do Not Remove */
.style-tile .clearfix {
  	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}












/*--------------------- PORTFOLIO PAGE -----------------*/












/*reset*/
.portfolio html,body,div,figure,img,header,ul,li,a{
	margin: 0;
	padding: 0;
	border: 0;
}
/*layout*/

body.portfolio {
  background-image: url("../img/pattern-2.png");
  min-width: 470px;
}
.portfolio .col-9{
	max-width: 900px;
	width:100%;
	margin: auto;
	box-sizing: border-box;
}
.portfolio .col-3{
	max-width: 700px;
	width: 50%;
	margin: auto;
	box-sizing: border-box;
}
/*items*/
.portfolio .images {
	padding-top: 4em;
	padding-left: 1em;
	clear: both;
}
.portfolio .menu{
	padding: 3em 3em;
}
.portfolio .wrap{
	padding: 5em;
}
.portfolio img{
  width: 100%;
	opacity: 1;
	transition: opacity .4;
}

.portfolio figure{
	float: left;
	position: relative;
	line-height: 0;
	padding: 1em;

}
.portfolio .img-wrap:before{
	content: '';
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 1em;
	background-color: #E9E9E9;
	opacity: 0.7;
	transition: opacity 1.5s,
	background-color .4s; 
}
.portfolio .img-wrap:hover:before{
	background-color: #E9E9E9;
	opacity: 0;
}

.portfolio h1 {
	margin-left: 40px;
  	color: #FA8072;
	font-size: 3.2em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.portfolio nav{
	margin-top: 55px;
}
.portfolio nav ul li {
	display: inline;
	font-size: 1.2em;
}
.portfolio nav ul li a{
	text-decoration: none;
	padding: .5em 1em.5em;
	color: #182E6F;
	font-size: 1.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: color 1s, background-color 1s;
}
.portfolio nav ul li a:hover{
	background-color: #FA8072;
	color: #fff;
}
.portfolio nav a {
	color: #182E6F;
}

@media only screen and (min-width: 600px) {
	header{float: left}
	nav{float: right;
		text-align: right;}
}